* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
	overflow-y: scroll;
}
.container-box {
   
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
}

.header {
    padding: 0 10px;
    height: 75px;
}

.logo {
    color: black;
    font-size: 38px;
    font-family: verdana;
    float: left;
    line-height: 80px;
    padding-left: 48px;
    font-weight: 500;
    opacity: 1;
}
 #content-area{
	    margin: 0px 20px;
} 
		.section {
			float: left;
			width: 100%;
		} 
		#header-area{
			height: 8.5%;
			background-color: white;
			border-bottom: 1px solid #DDD;
		}
		#header-area h3{
			margin: 3px 0px;
			text-align: center;
			color: #000;
		}
		.box1{
			width: 50%;
			height: 30px;
			position: absolute;
			left: 25%;
			top: 1.6%;
		}

		#menu-area {
			border-top: 1px solid #FFF;
			border-bottom: 1px solid #FFF;
		}
		#contents-area {
			float: left;
			width: 100%;
			margin: 2.5% 1.6%;
			
		}
		.image{
			position: relative;
			overflow: hidden;
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.image:before {
			content: "";
			display: block;
			width: 100%;
			padding-bottom: 40%;
		}
		
		.left{
			float: left;
		}

		.right{
			float: right;
		}
	
		
		.grid1{
			float: left;
			width:100%;
			height: auto;
			background-size: cover;
		}
		.grid{
			float:left;
			width:100%;
			border-bottom: 1px solid #DDD;
			margin: 10px 0px;
		}
		.grid2{
			float:left;
			width:100%;
			border-bottom: 1px solid #DDD;
		}
		.a {
			font-size: 2.2em;
			font-weight: bold;
			text-align: center;
			line-height: 5%;
			color: #000;
			margin: 0;
		}
			#footer-area {
			
			padding: 1% 0%;
			background-color: #EEE;
			text-align: center;
			color: #555;
			font-size: 0.8em;
			border-top: 1px solid #DDD;
			margin-top: 23%;
		}

		